[Unit]
Description=#PROGTITLE# Service
# NOTE: On a RPi, you MUST also sudo systemctl enable
# systemd-time-wait-sync
After=time-sync.target

[Service]
User=#USER#
# Set the following to the source program directory (where you git cloned)
WorkingDirectory=#WORKDIR#
KillSignal=SIGINT
Restart=on-failure
RestartSec=5s
ExecStart=#WORKDIR#/%p

[Install]
WantedBy=default.target
